/*
Main CSS - Portfolio
By: Luc Bassaler-Merpillat
On: December 21, 2025
*/

/* - SETUP ACROSS PAGES - */
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /* Use as "Balsamiq Sans" */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); /* Use as "Bree Serif" */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); /* Use as "Outfit" */



/* All */
:root {
    /* Brand Colors */
    --orange: #FB9402;
    --brown: #990301;
    --pink: #F3A6C9;
    --blue: #99D9EA;

    /* Blue Shades */
    --blue_dark: #081D22;
    --blue_black: #020A0C;
    --blue_mid: #37B5D6;
    --blue_light: #CAEBF4;
    --blue_glaze: #D4D4DE;

    /* Main Colors */
    --main-black: #161616;
    --main-gray: #474645;
    --main-white: #E8E8E8;

    /* Accent Colors */
    --accent-bg: var(--blue_black);
    --accent-card: var(--main-gray);
    --accent-border: #2F2F31;
    --accent-text: var(--main-white);
    --accent-text_flip: var(--main-black);
    --accent-link: #2D2D2D;
    --accent-tooltip: #8B8B8B;
    --accent-highlight: var(--blue);
    --accent-active: var(--pink);
    --accent-gradient: var(--blue_dark);
}

* {
    box-sizing: border-box;
    transition-property: all;
    transition-duration: 0.2s;
    z-index: 1; /* Unless otherwise changed */
}



/* Defaults */
html {
    scroll-behavior: smooth !important;
    background: var(--accent-bg);
}

body {
    margin: 0;
    padding: 0;
}

#icon {
    color: var(--black)
}

main{
    margin: 0 1rem;
    padding-bottom: 5rem;
}



/* Text Emphasis */
.normal {
    font-style: normal;
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.sans {
    font-family: "Balsamiq Sans", sans-serif;
}

.serif {
    font-family: "Bree Serif", serif;
}

mark { /* 1 of 2 */
    border-radius: 0.2rem;
    padding: 0 0.75rem;
    background-color: var(--pink);
    color: var(--main-black);
}



/* Text Elements */
p, ul, li, figcaption {
    font-size: 1rem;
    color: var(--accent-text);
    font-family: "Outfit", Arial, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.25rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--accent-text);
    font-family: "Outfit", Helvetica, Verdana, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Balsamiq Sans", Helvetica, Verdana, sans-serif;
    color: var(--accent-text);
    margin: 0.5rem 0;
    
    mark { /* 2 of 2 */
        color: var(--brown);
    }
}

h4, h5, h6 {
    font-family: "Balsamiq Sans", Helvetica, Verdana, sans-serif;
    color: var(--accent-tooltip);
    margin: 0.15rem 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

img{
    border-radius: 0.5rem;
}



/* Major Grid Elements */
.grid {
    display: grid;
    gap: 0 1rem;
}

.main-grid {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "side nav"
        "side projects"
        "side skills"
    ;
}

.card-grid {
    grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
    grid-auto-rows: 16.5rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.article-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}



/* Navigation Elements */
.picker {
    display: inline-block;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    color: var(--accent-text);
    border-bottom: 2px solid var(--accent-border);
}

.picker:hover {
    color: var(--accent-highlight);
    border-bottom: 2px solid var(--accent-highlight);
}

.picker:focus {
    color: var(--accent-highlight);
    border-bottom: 4px solid var(--accent-highlight);
}

.picker.active, 
.picker.active:hover {
    color: var(--accent-active);
    border-bottom: 2px solid var(--accent-active);
}

.picker.active:focus {
    border-bottom: 4px solid var(--accent-active);
}



/* Button Elements */
.button {
    text-decoration: none;
    margin: 1rem 0;
    border-radius: 0.9rem;
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    background-color: var(--accent-text);
    color: var(--accent-card);
}

.button:hover {
    background-color: var(--accent-highlight);
}

.button:focus {
    background-color: var(--accent-highlight);
}

.contact-buttons { /* Contains grid elements */
    margin: 0;
    grid-template-columns: 1fr 1fr;
}

.back-bar {
    background-color: var(--accent-bg);
    margin: 0;
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 2;
}

#return {
    margin-right: 1rem;
}

#article {
    margin-top: 4rem;
    overflow: auto;
    p, ul, ol, li, a {
        font-size: 1.4rem;
    }
}



/* Section Elements*/
#top {
    margin: 0.1rem;
    z-index: 100;
}

footer {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: var(--accent-link);
    border-top: 2px solid var(--accent-border);
}

main, article {
    margin: 1rem;
}

section, article {
    border-radius: 0.9rem;
    padding: 0.4rem 1rem;
}

section {
    margin-bottom: 0.5rem;
    background: linear-gradient(135deg, var(--accent-card) 0%, var(--accent-border) 100%);
    box-shadow: 0 0.1rem 0 rgba(0,0,0,0.01) inset, 0 0.5rem 0.5rem rgba(255,255,255,0.05);
}

article {
    background: linear-gradient(to bottom right, var(--accent-card) 0%, var(--accent-border) 70%, var(--accent-link) 100%);
    box-shadow: 0 0.1rem 0 rgba(0,0,0,0.01) inset, 0 0.5rem 0.5rem rgba(255,255,255,0.05);
}

.side {
    grid-area: side;
    margin: 0;
    width: 100%;
}

.nav {
    display: block;
    grid-area: nav;
    margin: 0 0 1rem 0;
    width: 100%;
    z-index: 2;
}

.location {
    margin-top: 0.25rem;
    grid-template-columns: 1fr;
}



/* Card Elements */
.card {
    border-radius: 0.9rem;
    padding: 1rem 0.5rem;
    background: linear-gradient(to bottom right, var(--accent-card) 0%, var(--accent-gradient) 70%);
    border: 2px solid var(--accent-border);
    box-shadow: 0 0.1rem 0 rgba(0,0,0,0.01) inset, 0 0.5rem 0.5rem rgba(255,255,255,0.05);
}

.card:hover {
    border: 2px solid var(--accent-text);
}

.card:focus {
    border: 2px solid var(--accent-text);
}



/* Images */
.img-title {
    width: 100%;
}

.img-project {
    height: 7.5rem;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.figure-article {
    float: right;
    width: 50%;
    margin: 0 0 1rem 1rem;
}

.img-article {
    display: block;
    max-width: 100%;
    height: auto;
}



/* Tab Content */
.tab {
    overflow: hidden;
}

.tablinks {
    border-bottom: 2px solid var(--accent-border);
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: grid;
}

@media (min-width: 64rem) {
    #side {
        display: block !important;
    }

    .picker  {
        border-bottom: 2px solid var(--accent-border);
    }

    .picker.active {
        border-bottom: 2px solid var(--accent-active);
        color: var(--accent-active);
    }

    .picker-home {
        pointer-events: none;
        opacity: 0.6;
        cursor: default;
    }

    .picker-home:hover {
        color: var(--accent-text);
        border-bottom: 2px solid var(--accent-border);
    }
}



/* Any other @media */
@media (prefers-color-scheme: light) {
    :root {
        /* Accent Colors */
        --accent-bg: var(--blue_light);
        --accent-card: #C6C6C6;
        --accent-border: #A8A8A8;
        --accent-text: var(--main-black);
        --accent-text_flip: var(--main-white);
        --accent-link: #8B8B8B;
        --accent-tooltip: #4D4D4D;
        --accent-highlight: var(--orange);
        --accent-active: var(--brown);
        --accent-gradient: var(--blue_glaze);
    }

    .card {
        box-shadow: 0 0.1rem 0 rgba(255,255,255,0.01) inset, 0 0.5rem 0.5rem rgba(0,0,0,0.1);
    }

    article {
        box-shadow: 0 0.1rem 0 rgba(255,255,255,0.01) inset, 0 0.5rem 0.5rem rgba(0,0,0,0.1);
    }

    section {
        box-shadow: 0 0.1rem 0 rgba(255,255,255,0.01) inset, 0 0.5rem 0.5rem rgba(0,0,0,0.1);
    }
}

@media (width > 64rem) {
    .side {
        width: 30rem;
    }
}

@media (width < 64rem) {
    .nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0.75rem 0;
        position: fixed; 
        top: 0;
        background-color: var(--accent-bg);
    }
    
    .main-grid {
        margin-top: 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            /* "nav" */
            "side"
            "projects"
            "skills"
        ;
    }

    .contact-buttons  { /* Contains grid elements */
        grid-template-columns: 30rem;
        grid-template-rows: 1fr 1fr;
    }
}

@media (width < 45rem) {
    .figure-article {
        float: none;
        width: 100%;
        margin: 1rem 0;
    }
}

@media (width > 35rem) {
    .side {
        width: 100%;
    }

    .img-title {
        width: 30rem;
    }
}

@media (width < 35rem) {
    .side {
        width: 100%;
    }

    .contact-buttons { /* Contains grid elements */
        grid-template-columns: 100%;
    }
}